.search-field {
    font-size: 20px;
    width: 200px;
}

.app-container {
    padding: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.task-title {
    align-self: center;
    font-size: 20px;
    margin-bottom: 1em;
}

.result-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-label {
    margin-right: 1em;
}

.search-block {
    margin-bottom: 1em;
}